{:source-paths ["src"]
 :dependencies [[reagent "1.2.0"]]
 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "js"
        :modules {:main {:init-fn bootstrap.app/init!}}
        :module-hash-names true
        :release {:output-dir "public/js"}
        :devtools {:http-root "public"
                   :http-port 8280}}}}
